/*this is the place for the styles*/
body {
    text-align: center;
    /*background-image: url("milkyway.jpg");*/
}

.page {
    text-align: center;
    width:1000px;
        margin-left:auto;
        margin-right:auto;
}
